@page "/doctors/{doctorId:int}/appointments"
@using BlazorWebassembly_Appointment.Shared
@inject BlazorWebassembly_Appointment.Client.Services.AppointmentService AppointmentService
@inject BlazorWebassembly_Appointment.Client.Services.DoctorService DoctorService
@inject NavigationManager NavigationManager

@code {
    [Parameter] public int DoctorId { get; set; }
    private DoctorDetail doctor;
    private List<AppointmentModel> appointments;

    protected override async Task OnInitializedAsync()
    {
        doctor = await DoctorService.GetDoctor(DoctorId);
        appointments = await AppointmentService.GetAppointmentsByDoctor(DoctorId);
    }
}

<style>
    body {
        background-color: #f8f9fa;
        background-image: url('/Images/Clinic_background.jpg');
        opacity: 0.9;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

    .container {
        background-color: #ffffff;
        overflow-y: scroll;
        padding: 30px;
        border-radius: 10px;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
        width: 100%;
        margin: 50px auto;
    }
</style>

<div class="container">
    <h3>Appointments for Doctor @doctor.Name</h3>

    @if (appointments != null)
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Patient Name</th>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Remarks</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var appointment in appointments)
                {
                    <tr>
                        <td>@appointment.Id</td>
                        <td>@appointment.Name</td>
                        <td>@appointment.Slot</td>
                        <td>@appointment.SelectedDate</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>Loading...</p>
    }
</div>
